@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --color-yellow: #FFBB00;
  --color-grey-light: #F9F9F9;
  --color-black: #000;

  /* Letras */
  /* --font-sans: "Poppins", sans-serif; */
}