.Header
  display: flex
  flex-flow: row nowrap
  align-items: center
  padding: 0 2rem
  justify-content: space-between
  height: 100px
  &__title
    color: $color-secondary
    width: 25%
  & nav
    display: block
    height: 100%
    width: 70%
  &__list
    display: flex
    flex-flow: row nowrap
    list-style: none
    height: 100%
    align-items: center
    justify-content: space-between
    margin: 0
    & > li > a
      color: $text-color
      text-decoration: none
      font-size: 1.2rem
      font-weight: 400
      height: 100%
      display: flex     // Flexbox en elementos inline
      align-items: center       // Centrado vertical
      justify-content: center   // Centrado horizontal
      // Efecto hover
    & li
      height: 100%
      width: 33%
    & li:hover 
      background-color: $color-secondary
    & li:active 
      background-color: $color-secondary
  // Estilos para responsive
  .MenuButton
    display: none
    background: none
    color: white
    border: none
    font-size: 2rem
    cursor: pointer

  .Nav
    &__open
      display: block

  @media (max-width: 768px)
    .MenuButton
      display: block
    &__title
      width: 70%
    & nav
      display: none
      position: absolute
      top: 100px
      right: 0
      width: 100%
      height: 240px
      background-color: #004884
      box-shadow: 0 2px 4px rgba(154, 79, 79, 0.1)

    .Nav__open
      display: block

    &__list
      flex-direction: column
      padding: 1rem
      align-items: center
      height: 200px
      & li
        width: 100%